[submodule "tuistory"]
	path = tuistory
	url = https://github.com/remorses/tuistory
[submodule "ghostty-opentui"]
	path = ghostty-opentui
	url = https://github.com/remorses/ghostty-opentui
[submodule "raycast-utils"]
	path = raycast-utils
	url = https://github.com/raycast/utils.git
